<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lexend:100,300,400,500,600,700,800&amp;display=swap');

        :root {
            --background: #ffffff;
            --primary: ;
            --secondary: ;
            --light: #f7eeee;
            --dark: #000000;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lexend', sans-serif;
        }

        body {
            background: var(--light);
            color: var(--dark);
        }
    </style>
</head>

<body>
    <p>Name: <%= user.name %>
    </p>
</body>

</html>